body {
  color: #FFFFFF;
  height: 100vh;
  height: 100svh;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 80px;
  padding: 0;
  background-color: #001f3f;
  font-family: 'Jost', sans-serif;
}

main {
  box-sizing: border-box;
  height: 100%;
  padding: 20vh max(5vh, 30px);
  overflow-y: auto;
}

h1 {
   margin: 0;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.02em;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-block: 10px 5px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  align-items: center;
}

.icon-link, .icon-link:visited {
  color: #fafafa;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  width:  2em;
  width: clamp(1.8em, 5vw, 2em);
  height:  2em;
}

.icon-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 4px;
  border-radius: 2px;
}

.icon {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.icon-link:hover > .icon {
  color: #ffffff;
  transform: scale(1.1);
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link.cv {
  margin-left: 20px;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 4px;
  border-radius: 2px;
}

#bg-canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#clock-button {
  background: none;
  border: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 16px;
  right: 16px;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

#clock-hands {
  visibility: hidden;
}

#clock-button:hover {
  transform: scale(1.1);
}


#second-hand {
  transform-origin: 16px 16px;
}

#minute-hand {
  transform-origin: 16px 16px;
}

#hour-hand {
  transform-origin: 16px 16px;
}

@keyframes thought-animation {
  0% {
    opacity: 0;
    transform: translate(10px, 0);
  }
  5% {
    opacity: 1;
    transform: translate(-5px, 0);
  }
  95% {
    opacity: 1;
    transform: translate(-95px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-110px, 0);
  }
}

.thought {
  position: fixed;
  border: 1px solid #ffffff33;
  border-radius: 30px;
  animation: thought-animation 5.3s linear forwards;
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 5px 15px;
  white-space: nowrap;
  backdrop-filter: blur(5px);
}